
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;

}


.background{
    background-color:#FEEAE9 ;
}

.catagoris img{
    width: 100px;
}

.text-color{
    color: grey;
}